.dashboard {
  display: block;
}

.search {
  float: left;
  height: 100%;
  overflow-y: auto;
}

.team-preview-container {
  width: 100%;
}

.D:hover, .D:active {
  box-shadow: 0 4px 4px 0 #3b5ea080;
}

.R:hover, .R:active {
  box-shadow: 0 4px 4px 0 #ff696180;
}

.I:hover, .I:active {
  box-shadow: 0 4px 4px 0 #0B662380;
}

.icon-credit {
  display: block;
  margin: 15px;
}

.mobile-focus {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .search {
    width: 55%;
  }
}